form {
  padding: 20px 0;
  position: relative;
  label {
  	display: block;
    font-style: italic;
  	margin: 10px 0;
    a {
    	color: $color-text-hightlight;
    }
    &.alert {
      color: $color-alert;
    }
  }
  input {
    @include text(1.2em, 300, $color: $color-text-light);
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: 0;
    border: 1px solid rgba(255, 255, 255, 0.4);
    background-color: rgba(255, 255, 255, 0.2);
    width: 250px;
    border-radius: $br;
    padding: 10px 15px;
    margin: 10px auto;
    display: block;
    text-align: center;
    -webkit-transition-duration: 0.25s;
    transition-duration: 0.25s;
    &:hover {
      background-color: rgba(255, 255, 255, 0.4);
    }
    &:focus {
      background-color: $color-text-light;
      color: $color-prim;
    }
    &::-webkit-input-placeholder {
      @include text($weight: 300, $color: $color-text-light);
    	font-family: $stack-source-sans;
    	}
    &:-moz-placeholder {
    	@include text($weight: 300, $color: $color-text-light);
    	opacity:  1;
    	}
    &::-moz-placeholder {
    	@include text($weight: 300, $color: $color-text-light);
    	opacity:  1;
    	}
    &:-ms-input-placeholder {
    	@include text($weight: 300, $color: $color-text-light);
    	}
  }
  textarea {
    font-family: $stack-handlee;
    background-color: transparent;
    border: none;
    resize: vertical;
    width: 100%;
    padding: 5px;
    &:focus {
      outline: none;
      border: none;
      box-shadow: 0 0 1px 1px rgba(0,0,0,.2) inset;
    }
    &.title {
      @include text(1.6em, 200, 1.2, $color: $color-text-hightlight);
      height: 45px;
      margin-top: 10px;
    }
    &.message {
      @include text(1.2em, $color: $color-text-light);
      min-height: 150px;
    }
  }
}
