.icon {
  position: relative;
  width: 25px;
  height: 25px;
  margin: 10px;
  &:before, &:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
  }
  &.arrow-down:before {
    top: -5px;
    border-width: 0 3px 3px 0;
    border-style: solid;
    border-color: $color-text-light;
    transform: rotate(45deg);
    width: calc(100%/2.5);
    height: calc(100%/2.5);
  }
}
